{
  "enableDebugLogs": true,
  "withNodeModules": true,
  "printWidth": 800,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "proseWrap": "always",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "disableLanguages": ["vue"],
  "endOfLine": "auto",
  "eslintIntegration": false,
  "htmlWhitespaceSensitivity": "ignore",
  "ignorePath": ".prettierignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "parser": "babylon",
  "requireConfig": true,
  "stylelintIntegration": false,
  "trailingComma": "all",
  "tslintIntegration": false
}
