
/* Overlays */
.ui-widget-overlay {
  background: #aaaa;
  opacity: 0.3;
  filter: alpha(opacity=30);

  /* support: IE8 */
}

.ui-widget-shadow {
  -webkit-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
}
